/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Poppins:wght@400;500;700&display=swap');


*{
 margin: 0;
 padding: 0;
}

body {
font-size: 6.25%;
font-family: 'Roboto', sans-serif;
}

nav ul {
list-style: none;
font-size: 2rem;
}
nav {
 background-color: #000;
 color: #fff;
 padding: 0 1.2rem;
 height: 7.6rem;
 display: flex;
 align-items: center;
}

.game-info h1 {
 font-size: 1.2rem;
}
.game-container {
 /* background-color: yellow; */
 display: flex;
 justify-content: center;
 margin-top: 5rem;
}

.container {
 display: grid;
 grid-template-columns: repeat(3, 10vw);
 grid-template-rows: repeat(3, 10vw);
 font-family: 'Roboto', sans-serif;
 padding: 1rem;
}

.box {
border: 2px solid #000;
font-size: 8vw;
display: flex;
justify-content: center;
transition: all 0.2;
}
.box:hover {
 background-color:rgba(199, 199, 252, 0.809);
}
.game-info {
 padding: 0 3.4rem; 
 font-family: 'Baloo Bhaina 2', cursive;   
}

.img-box {
 display: none;
}

.bt-0 {
 border-top: 0;
}
.bl-0 {
 border-left: 0;
}
.bb-0 {
 border-bottom: 0;
}
.br-0 {
 border-right: 0;
}