*{
    margin: 0;
    padding: 0;
}
nav ul {
    list-style: none;
}
nav {
    background-color: #000;
    color: #fff;
    padding: 0 12px;
    height: 76px;
    display: flex;
    align-items: center;
}
